<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>

<body class="container">
<h1 th:text="${title}"></h1>

<form method="post" action="/tags/create">
  <div class="form-group">
    <label>Name:
      <input th:field="${tag.name}" class="form-control">
    </label>
    <p th:errors="${tag.name}" class="text-danger"></p>
  </div>
  <button type="submit" class="btn btn-success">Create Tag</button>
</form>

<a href="/tags" class="btn btn-secondary">Back to List</a>
</body>
</html>
